<%- include("../partials/header") %>

<div class="demos">
  <div class="demos__category">
    <h1 id="demonstrations" class="demos__category-title">
      Demonstrations
      <% if (user && user.isAdmin) { %>
        <a href="/demos/new"><img class="test" width="17" height="17" src="/images/plus-sign-2.svg" alt="plus_sign"></a>
      <% } %>
    </h1>
    <div class="demos__cards">
      <% demos.filter(d => d.category == "Demonstrations").forEach(getCardHTML); %>
    </div>
  </div>
  <div class="demos__category">
    <h1 id="recordings" class="demos__category-title">
      Recordings
      <% if (user && user.isAdmin) { %>
        <a href="/demos/new?c=recordings"><img class="test" width="17" height="17" src="/images/plus-sign-2.svg" alt="plus_sign"></a>
      <% } %>
    </h1>
    <div class="demos__cards">
      <% demos.filter(d => d.category == "Recordings").forEach(getCardHTML); %>
    </div>
  </div>
  <% var otherDemos = demos.filter(d => d.category == "Other");
  if (otherDemos.length > 0) { %>
    <div class="demos__category">
      <h1 id="other" class="demos__category-title">
        Other
        <% if (user && user.isAdmin) { %>
          <a href="/demos/new?c=other"><img class="test" width="17" height="17" src="/images/plus-sign-2.svg" alt="plus_sign"></a>
        <% } %>
      </h1>
      <div class="demos__cards">
        <% otherDemos.forEach(getCardHTML); %>
      </div>
    </div>
  <% } %>
</div>

<% function getCardHTML(demo) { %>
  <div class="demos__card">
    <img class="demos__image" src="/images/demos/<%- demo.imageFileName %>" alt="othello"/>
    <img class="demos__play-button" src="/images/play-button.svg" alt="play_button"/>
    <h2 class="demos__card-title"><%- demo.title %></h2>
    <h3 class="demos__card-subtitle"><%- demo.subtitle %></h3>
    <p class="demos__card-description"><%- demo.description %></p>
    <a href="/demos/<%- demo._id %>"><span class="div-link"></span></a>
  </div>
<% } %>

<%- include("../partials/footer") %>
