<%- include("../partials/header") %>

<div class="demo">
  <div class="demo__video-section">
    <div class="demo__links">
      <a class="demo__link" href="/demos">Back to <%- demo.category %></a>
      <% if (user && user.isAdmin) { %>
        <span class="demo__link-divider"></span>
        <a class="demo__link" href="/demos/<%= demo._id %>/edit">Edit</a>
        <span class="demo__link-divider"></span>
        <form action="/demos/<%= demo._id %>?_method=delete" method="post" onsubmit="return confirm('Are you sure you want to delete this demo?')">
          <button class="demo__form-link" type="submit">Delete</button>
        </form>
      <% } %>
    </div>
    <div id="player"></div>
    <% if (demo.tags && Array.isArray(demo.tags) && demo.tags.length > 0) { %>
      <div class="demo__tags">
        <% demo.tags.forEach(function(tag) { %>
          <div class="demo__tag"><%- tag %></div>
        <% }); %>
      </div>
    <% } %>
    <h1 class="demo__title"><%- demo.title %></h1>
    <p class="demo__description"><%- demo.description %></p>
  </div>
</div>

<script>
  var tag = document.createElement("script");

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName("script")[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player("player", {
      height: "429",
      width: "704",
      videoId: "<%- demo.videoID %>",
      events: {
        "onReady": onPlayerReady,
        "onStateChange": onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      done = true;
    }
  }
</script>

<%- include("../partials/footer") %>
